@import "tailwindcss";

@layer utilities {
  body {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-family:
      interVar,
      ui-sans-serif,
      system-ui,
      sans-serif,
      Apple Color Emoji,
      Segoe UI Emoji,
      Segoe UI Symbol,
      Noto Color Emoji;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
